/* helpers */

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.flex-start {
  align-items: flex-start;
}
.flex-end {
  align-items: flex-end;
}
.justify-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

