body {
  background-color: $clr1;
}

.app-header {
  height: $header-height;
  background-color: $clr3;
  color: #fff;
  padding: 0 20px;
}

.app-main {
  min-height: calc(100vh - $header-height - $footer-height);
  margin: 20px 20px;
  background-color: $clr1;
  margin-top: 20px;
}

.app-footer {
  height: $footer-height;
  background-color: $clr3;
  color: #fff;
  padding: 0 20px;
}
